<p align="center">
  <img src="https://www.picz.in.th/images/2018/09/06/fUmgcu.png" alt="fUmgcu.png" border="0" />
</p>

<h2 align="center">Welcome To Khong Kao Shop</h2>
<h2 align="center">ร้านของเก่าช็อป ยินดีต้อนรับ</h2>

<mat-card>

  <div class="button-row" align="center">

    <mat-card-actions>

      <a mat-stroked-button routerLink="/home"><mat-icon>home</mat-icon>ไปหน้าหลัก</a>

      <a mat-stroked-button routerLink="/">ซื้อของเก่า</a>

      <a mat-stroked-button routerLink="/">ขายของเก่า</a>

      <a mat-stroked-button routerLink="/">เสนอขายของเก่า</a>

      <a mat-stroked-button routerLink="/delivery">รายการจัดส่ง</a>

      <a mat-stroked-button routerLink="/bill">พิมพ์ใบเสร็จ</a>

      <a mat-stroked-button routerLink="/home">ติดต่อร้าน</a>

      <a mat-stroked-button routerLink="/">ออกจากระบบ</a>

      <a mat-stroked-button routerLink="/">Link</a>

    </mat-card-actions>



  </div>

</mat-card>
