   
    <h2 align="center">Welcome To YaMaii</h2>
    <h2 align="center">ร้านยามั้ย ยินดีต้อนรับ</h2>
   
ิิ<br>
<br>
<mat-card-actions>

  <a mat-stroked-button routerLink="/home">
    <mat-icon>home</mat-icon>ไปหน้าหลัก
  </a>

  <a mat-stroked-button routerLink="/register">สมัครสมาชิก</a>

  <a mat-stroked-button routerLink="/drug-stroagemenu">คลังยา</a>
  <a mat-stroked-button routerLink="/orders-drug">จัดหายา</a>



  <a mat-stroked-button routerLink="/drug-data">จัดเก็บข้อมูลยา</a>

  <a mat-stroked-button routerLink="/post">จัดการพนักงาน</a>

  <a mat-stroked-button routerLink="/redcord-use">บันทึกการใช้ยา</a>
  <a mat-stroked-button routerLink="/resistance">บันทึกการดื้อยา</a>

  <a mat-stroked-button routerLink="/delivery">บันทึกใบส่งของ</a>

  <a mat-stroked-button routerLink="/notification">แจ้งเตือนทานยา</a>
  <a mat-stroked-button routerLink="/salenote">บันทึกการขาย</a>

  <!-- <a mat-stroked-button routerLink="/home">ติดต่อร้าน</a>

  <a mat-stroked-button routerLink="/bill">จัดการคลังสินค้า</a> -->
  <a mat-stroked-button routerLink="" (click) = "setstaffOfline()">ออกจากระบบ</a>
   
</mat-card-actions>

<br><br>

<h1 style="text-align:center">
  สมัครสมาขิก
</h1>

    <mat-card class="register-all">

  <form class="example-form">

    <table class="example-first-last" cellspacing="0">
        <tr>
            <td>
                <mat-form-field>
                    <mat-select placeholder="initial" [(ngModel)]="data.initial" [(ngModel)]="customers.initialSelect" name="initial" #initial>
                      <mat-option *ngFor="let initial of initials" [value]="initial.name">
                        {{initial.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
            </td>
          </tr>

      <tr>
        <td>
          <mat-form-field class="example-first-last ">
            <input matInput placeholder="Name" [(ngModel)]="data.firstname"required name="Firstname" #Firstname>
          </mat-form-field>
        </td>
      </tr>

      <tr>
        <td>
            <mat-form-field>
                <mat-select placeholder="Gender" [(ngModel)]="data.gender" [(ngModel)]="customers.genderSelect" name="gender" #gender>
                  <mat-option *ngFor="let gender of genders" [value]="gender.sex">
                    {{gender.sex}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </td>

        <td>
          <mat-form-field>
              <mat-select placeholder="BloodType" [(ngModel)]="data.bloodType" [(ngModel)]="customers.bloodTypeSelect" name="bloodType" #bloodType>
                <mat-option *ngFor="let bloodType of bloodTypes" [value]="bloodType.name">
                  {{bloodType.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </td>
      </tr>
      

          <tr>
              <td>
                <mat-form-field class="example-first-last ">
                  <input matInput placeholder="AllergyHistory" [(ngModel)]="data.allergyHistory" required name="AllergyHistory" #AllergyHistory>
                </mat-form-field>
              </td>
            </tr>
      
          
       <tr>
        <td>
          <mat-form-field class="example-first-last ">
            <input matInput placeholder="Address" [(ngModel)]="data.address" required name="Address" #Address>
          </mat-form-field>
        </td>

      </tr>


      <tr>
        <td>
          <mat-form-field class="example-first-last ">
            <input matInput placeholder="Phonenumber" [(ngModel)]="data.phonenumber" required name="Phonenumber"
              #Phonenumber>
          </mat-form-field>
        </td>
      </tr>


    </table>
  </form>

  <mat-card-actions align="end">

    <button mat-raised-button color="warn" (click)="save()">Sign Up</button>
          <a mat-stroked-button routerLink="">Cancle</a>

  </mat-card-actions>

</mat-card>
