

.example-section {

  display: flex;
  align-content: center;
  align-items: center;
  height: 40px;
}

.example-margin {
 
  margin: 0 5px;
}

.example-user {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-user-width {
  width: 40%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 60%;
}

.example-first-last {
  width: 100%;
}

.example-button-row button,
.example-button-row a {
  color: #ff8000;
margin-right: 8px;
}

.register-all{
right: 0px;
width: 500px;
margin: auto;

}



 
h2{
  font-size: 120%;
}
 
h1{
  font-size: 150%;
}