<h2 align="center">Welcome To YaMaii</h2>
<h2 align="center">ร้านยามั้ย ยินดีต้อนรับ</h2>

<mat-card>

  <div class="button-row" align="center">

    <mat-card-actions>

      <a mat-stroked-button routerLink="/home">
        <mat-icon>home</mat-icon>ไปหน้าหลัก
      </a>

      <a mat-stroked-button routerLink="/register">สมัครสมาชิก</a>

      <a mat-stroked-button routerLink="/drug-stroagemenu">คลังยา</a>
      <a mat-stroked-button routerLink="/orders-drug">จัดหายา</a>


      <a mat-stroked-button routerLink="/drug-data">จัดเก็บข้อมูลยา</a>

      <a mat-stroked-button routerLink="/post">จัดการพนักงาน</a>

      <a mat-stroked-button routerLink="/redcord-use">บันทึกการใช้ยา</a>
      <a mat-stroked-button routerLink="/resistance">บันทึกการดื้อยา</a>
      <a mat-stroked-button routerLink="/delivery">บันทึกใบส่งของ</a>

      <a mat-stroked-button routerLink="/notification">แจ้งเตือนทานยา</a>
      <a mat-stroked-button routerLink="/salenote">บันทึกการขาย</a>

      <!-- <a mat-stroked-button routerLink="/home">ติดต่อร้าน</a>

      <a mat-stroked-button routerLink="/bill">จัดการคลังสินค้า</a> -->

      <a mat-stroked-button routerLink="" (click)="setstaffOfline()">ออกจากระบบ</a>



    </mat-card-actions>

  </div>
</mat-card>

<mat-card class="post-card">
  <h1 style="text-align:center">
    บันทึกรายละเอียดใบส่งของ
  </h1>

  <mat-card-content style="text-align:center">
    <form>
      <mat-form-field>
        <mat-select placeholder="ชื่อพนักงาน" [(ngModel)]="detail.staff" [(ngModel)]="emp.staffSelect" name="staff"
          #staff>
          <mat-option *ngFor="let staff of staffs" [value]="staff.staffId">
            {{staff.staffName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <mat-select placeholder="ชื่อลูกค้า" [(ngModel)]="detail.customer" [(ngModel)]="emp.customerSelect" name="customer"
          #customer>
          <mat-option *ngFor="let customer of customers" [value]="customer.customerId">
            {{customer.customerName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <mat-form-field>
      <mat-select  placeholder="ที่อยู่" [(ngModel)]="addressselect" name="ds">
        <mat-option *ngFor="let titleaddr of addresss" [value]="titleaddr.addressId">
          {{titleaddr.addressName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <form>
      <mat-form-field class="example-first-last ">
        <input matInput placeholder="กรอกเบอร์โทรที่สามารถติดต่อได้(08xxxxxxxx)" [(ngModel)]="detail.currentTel" required name="CurrentTel" #CurrentTel>
      </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <mat-select placeholder="ชื่อยา" [(ngModel)]="detail.drug" [(ngModel)]="emp.drugSelect" name="drug" #drug>
          <mat-option *ngFor="let drug of drugs" [value]="drug.drugId">
            {{drug.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <form>
      <mat-form-field>
        <input matInput type="number" min="1" placeholder="จำนวน"[(ngModel)]="detail.amount" required name="Amount" #Amount>
      </mat-form-field>
    </form>

    <form>
      <mat-form-field class="example-first-last ">
        <input matInput placeholder="ยอดสุทธิ(บาท)" [(ngModel)]="detail.netamount" required name="Netamount" #Netamount>
      </mat-form-field>
    </form>

  </mat-card-content>


  <mat-card-actions style="text-align:right">
    <a mat-raised-button (click)="save()" color="warn" type="submit" >Confirm</a>
    <a mat-raised-button (click)="cancel()" color="warn" routerLink="/home">Cancel</a>
  </mat-card-actions>
</mat-card>
