<h2 align="center">Welcome To YaMaii</h2>
<h2 align="center">ร้านยามั้ย ยินดีต้อนรับ</h2>

<mat-card>
  <div class="button-row" align="center">
    <mat-card-actions>
      <a mat-stroked-button routerLink="/home">
        <mat-icon>home</mat-icon>ไปหน้าหลัก
      </a>

      <a mat-stroked-button routerLink="/register">สมัครสมาชิก</a>

      <a mat-stroked-button routerLink="/drug-stroagemenu">คลังยา</a>
      <a mat-stroked-button routerLink="/orders-drug">จัดหายา</a>


      <a mat-stroked-button routerLink="/drug-data">จัดเก็บข้อมูลยา</a>

      <a mat-stroked-button routerLink="/post">จัดการพนักงาน</a>

      <a mat-stroked-button routerLink="/redcord-use">บันทึกการใช้ยา</a>
      <a mat-stroked-button routerLink="/resistance">บันทึกการดื้อยา</a>
      <a mat-stroked-button routerLink="/delivery">บันทึกใบส่งของ</a>

      <a mat-stroked-button routerLink="/notification">แจ้งเตือนทานยา</a>
      <a mat-stroked-button routerLink="/salenote">บันทึกการขาย</a>

      <!-- <a mat-stroked-button routerLink="/home">ติดต่อร้าน</a>

      <a mat-stroked-button routerLink="/bill">จัดการคลังสินค้า</a> -->



      <a mat-stroked-button routerLink="" (click)="setstaffOfline()">ออกจากระบบ</a>
    </mat-card-actions>
  </div>
</mat-card>

<body>
  <div class="flex-container" align="center">
    <mat-tab-group>
      <mat-tab label="บันทึกผลการดื้อยา">
        <div class="flex-container">
          <table mat-table [dataSource]="redcorddruguse">


            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>No.</th>
              <td mat-cell *matCellDef="let element">
                {{ element.recordDrugUseId }}
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="customername">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td mat-cell *matCellDef="let element">
                {{ element.customer.customerName }}
              </td>
            </ng-container>

            <!-- Drug Column -->
            <ng-container matColumnDef="drug">
              <th mat-header-cell *matHeaderCellDef>drug</th>
              <td mat-cell *matCellDef="let element">
                {{element.drugdata.drug.name }}
              </td>
            </ng-container>

            <!-- Symptom Column -->
            <ng-container matColumnDef="symptom">
              <th mat-header-cell *matHeaderCellDef>symptom</th>
              <td mat-cell *matCellDef="let element">{{ element.symptom }}</td>
            </ng-container>

            <!-- Symptom Column -->
            <!-- <ng-container matColumnDef="result">
              <th mat-header-cell *matHeaderCellDef>result</th>
              <td mat-cell *matCellDef="let element">{{ element.resist }}</td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>

        <mat-form-field >
          <h4>เลือกลำดับ</h4>
          <mat-select [(ngModel)]="customerselect" name="Dsrafnss">
            <mat-option
              *ngFor="let titlecus of redcorddruguse"
              [value]="titlecus.recordDrugUseId"
            >
              {{titlecus.recordDrugUseId }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <br />
        <mat-form-field>
          <h4>ผลการดื้อยา:</h4>
          <input
            matInput
            placeholder=""
            [(ngModel)]="data.status"
            required
            name="status"
            #status
          /> </mat-form-field
        ><br />

        <pre align="center">
              <button mat-raised-button color="primary"  (click)="SaveResistance()">บันทึก</button>
            </pre>
      </mat-tab>

      <mat-tab label="ดูผลการดื้อยา">
          <div class="flex-container">
              <table mat-table [dataSource]="res">


                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.resistanceId }}
                  </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="customername">
                  <th mat-header-cell *matHeaderCellDef>Name</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.recordDrugUse.customer.customerName }}
                  </td>
                </ng-container>

                <!-- Drug Column -->
                <ng-container matColumnDef="drug">
                  <th mat-header-cell *matHeaderCellDef>drug</th>
                  <td mat-cell *matCellDef="let element">
                    {{element.recordDrugUse.drugdata.drug.name }}
                  </td>
                </ng-container>

                <!-- Symptom Column -->
                <ng-container matColumnDef="symptom">
                  <th mat-header-cell *matHeaderCellDef>symptom</th>
                  <td mat-cell *matCellDef="let element">{{ element.recordDrugUse.symptom }}</td>
                </ng-container>

                <!-- Symptom Column -->
                <ng-container matColumnDef="result">
                  <th mat-header-cell *matHeaderCellDef>result</th>
                  <td mat-cell *matCellDef="let element">{{ element.resist }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
              </table>
            </div>

</mat-tab>

    </mat-tab-group>
  </div>
</body>
