<mat-card class="register-all">
  <h2 align="center">
    <img src="https://www.picz.in.th/images/2018/10/25/kMFR9n.jpg" width="200" height="200">
  </h2>
</mat-card>




&nbsp;
<mat-card class="payment-card">
  <p>name:&nbsp;&nbsp;&nbsp; {{this.data.Firstname}}</p>
  <p>gender:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryDate}}</p>
  <p>birthday:&nbsp;&nbsp;&nbsp; {{this.deliveryData.trackId}}</p>
  <p>
    address1:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryId}}
    province:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryId}}
  </p>
  <p>address2:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryDate}}</p>
  <p>email:&nbsp;&nbsp;&nbsp; {{this.deliveryData.trackId}}</p>
  <p>phonenumber:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryId}}</p>
  <p>username:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryDate}}</p>
  <p>password:&nbsp;&nbsp;&nbsp; {{this.deliveryData.trackId}}</p>
  <p>confirmpassword:&nbsp;&nbsp;&nbsp; {{this.deliveryData.trackId}}</p>










</mat-card>