<mat-card class="register-all">
  <h2 align="center">
    <img src="https://sv1.picz.in.th/images/2019/01/24/TS6xHy.png" width="200" height="200">
  </h2>
  <h2 align="center">Welcome To YaMaii </h2>
  <h2 align="center">ร้านยามั้ย ยินดีต้อนรับ</h2>
  <h2 align="center">Save successfully!!</h2>

</mat-card>




&nbsp;
<mat-card class="payment-card">
  <p>initial:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryId}} </p>
  <p>name:&nbsp;&nbsp;&nbsp; {{this.data.Firstname}}</p>
  <p>gender:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryDate}}</p>
  <p>bloodType:&nbsp;&nbsp;&nbsp; {{this.deliveryData.trackId}}</p>
  <p>address:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryId}} </p>

  <p>phonenumber:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryId}}</p>
  <p>username:&nbsp;&nbsp;&nbsp; {{this.deliveryData.deliveryDate}}</p>
  <p>password:&nbsp;&nbsp;&nbsp; {{this.deliveryData.trackId}}</p>
 










</mat-card>