p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
  }
  
  mat-card {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
  }
  
  h2{
    font-size: 110%;
  }
  
  table {
    width: 100%;
  }