<p align="center">
  <img src="https://sv1.picz.in.th/images/2019/01/24/TS6xHy.png" alt="TS6xHy.png" border="0" />
</p>

<h2 align="center">Welcome To YaMaii</h2>
<h2 align="center">คลังยา ยินดีต้อนรับ</h2>

<mat-card>

  <div class="button-row" align="center">

    <mat-card-actions>

      <a mat-stroked-button routerLink="/home"><mat-icon>home</mat-icon>ไปหน้าหลัก</a>
      <a mat-stroked-button routerLink="/register">สมัครสมาชิก</a>

      <a mat-stroked-button routerLink="/login-staff">คลังยา</a>

      <a mat-stroked-button routerLink="/">จัดเก็บข้อมูลยา</a>

      <a mat-stroked-button routerLink="/">จัดการพนักงาน</a>

      <a mat-stroked-button routerLink="/">บันทึกการใช้ยา</a>

       <!-- <a mat-stroked-button routerLink="/home">ติดต่อร้าน</a>

      <a mat-stroked-button routerLink="/bill">จัดการคลังสินค้า</a> -->

      <a mat-stroked-button routerLink="">ออกจากระบบ</a>


    </mat-card-actions>
    
  
  </div>
 