<h2 align="center">Welcome To YaMaii</h2>
<h2 align="center">ร้านยามั้ย ยินดีต้อนรับ</h2>

<mat-card>

  <div class="button-row" align="center">

    <mat-card-actions>

      <a mat-stroked-button routerLink="/home">
        <mat-icon>home</mat-icon>ไปหน้าหลัก
      </a>

      <a mat-stroked-button routerLink="/register">สมัครสมาชิก</a>

      <a mat-stroked-button routerLink="/drug-stroagemenu">คลังยา</a>
      <a mat-stroked-button routerLink="/orders-drug">จัดหายา</a>


      <a mat-stroked-button routerLink="/drug-data">จัดเก็บข้อมูลยา</a>

      <a mat-stroked-button routerLink="/post">จัดการพนักงาน</a>

      <a mat-stroked-button routerLink="/redcord-use">บันทึกการใช้ยา</a>
      <a mat-stroked-button routerLink="/resistance">บันทึกการดื้อยา</a>
      <a mat-stroked-button routerLink="/delivery">บันทึกใบส่งของ</a>

      <a mat-stroked-button routerLink="/notification">แจ้งเตือนทานยา</a>
      <a mat-stroked-button routerLink="/salenote">บันทึกการขาย</a>

      <!-- <a mat-stroked-button routerLink="/home">ติดต่อร้าน</a>

      <a mat-stroked-button routerLink="/bill">จัดการคลังสินค้า</a> -->

      <a mat-stroked-button routerLink="" (click)="setstaffOfline()">ออกจากระบบ</a>



    </mat-card-actions>

  </div>

</mat-card>


<body>
  <div class="flex-container">
    <mat-tab-group>
      <mat-tab label="กรอกข้อมูลการแจ้งเตือนทานยา">

        <div class="flex-container">
          <form align="center">
            <h2> แจ้งเตือนทานยา </h2>
            <br>

            <mat-form-field>
              <h4>ชื่อคนไข้:</h4>
              <input matInput placeholder="" [(ngModel)]="data.searchCustomername"required name="searchCustomername" #searchCustomername value="Sushi" >
            </mat-form-field><br>

            <pre align="center">
              <button mat-raised-button color="primary"  (click)="searchname()">ค้นหา</button>
            </pre>



            <br>
           <mat-form-field>
              <h4>เลือกยา</h4>
              <mat-select [(ngModel)]="drugselect" name="Dran">
                <mat-option *ngFor="let titlecat of drug" [value]="titlecat.drugId">
                  {{titlecat.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>&nbsp;

            <br>
             <mat-form-field>
              <h4>ช่วงเวลาที่ทานยา</h4>
              <mat-select [(ngModel)]="timeEatselect" name="Drans">
                <mat-option *ngFor="let titletime of timeEat" [value]="titletime.timeEatId">
                  {{titletime.timeEatName}}
                </mat-option>
              </mat-select>
            </mat-form-field>
             <br>

            <mat-form-field>
              <h4>วันที่เริ่มทานยา:</h4>
              <input matInput placeholder="" [(ngModel)]="data.timestartEat"required name="timestartEat" #timestartEat value="Sushi" >
            </mat-form-field><br>


            <pre align="center">
                <button mat-raised-button color="primary"  (click)="SaveNotification()">เพิ่มยา</button>
            </pre>

      </form>

    </div>
  </mat-tab>


  <mat-tab label="ข้อมูลการแจ้งเตือนทานยา">
    <div class="mat-elevation-z8">
        <div class="flex-container">
          </div>
      <table mat-table [dataSource]="notification">

        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.notificationId}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="customername">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.customer.customerName}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="drugname">
          <th mat-header-cell *matHeaderCellDef> drugname </th>
          <td mat-cell *matCellDef="let element"> {{element.drug.name}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="timeEat">
          <th mat-header-cell *matHeaderCellDef> timeEat </th>
          <td mat-cell *matCellDef="let element"> {{element.timeEat.timeEatName}} </td>
        </ng-container>

        <ng-container matColumnDef="Notification">
          <th mat-header-cell *matHeaderCellDef> Notification </th>
          <td mat-cell *matCellDef="let element"> {{element.notificationName}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>

  </mat-tab>
  <!--
  <mat-tab label="ดูข้อมูลยา">
    <div class="flex-container">
      ดูข้อมูลยา
    </div>
  </mat-tab>
-->
</mat-tab-group>
</div>
</body>
