<h2 align="center">Welcome To YaMaii</h2>
<h2 align="center">ร้านยามั้ย ยินดีต้อนรับ</h2>

<mat-card>

  <div class="button-row" align="center">

    <mat-card-actions>

      <a mat-stroked-button routerLink="/home">
        <mat-icon>home</mat-icon>ไปหน้าหลัก
      </a>

      <a mat-stroked-button routerLink="/register">สมัครสมาชิก</a>

      <a mat-stroked-button routerLink="/login-staff">คลังยา</a>

      <a mat-stroked-button routerLink="/drug-data">จัดเก็บข้อมูลยา</a>

      <a mat-stroked-button routerLink="/post">จัดการพนักงาน</a>

      <a mat-stroked-button routerLink="/redcord-use">บันทึกการใช้ยา</a>
      <a mat-stroked-button routerLink="/notification">แจ้งเตือนทานยา</a>

      <!-- <a mat-stroked-button routerLink="/home">ติดต่อร้าน</a>

      <a mat-stroked-button routerLink="/bill">จัดการคลังสินค้า</a> -->

      <a mat-stroked-button routerLink="">ออกจากระบบ</a>


    </mat-card-actions>

  </div>

</mat-card>

        <div class="flex-container">
          <form align="center">
            <h2> แจ้งเตือนทานยา </h2>



            <br>
            <br>
            <mat-form-field>
              <h4>ชื่อคนไข้:</h4>
              <input matInput placeholder="" [(ngModel)]="data.namecus"required name="namecus" #namecus value="Sushi" >
            </mat-form-field><br>
            <pre align="center">
              <button mat-raised-button color="primary"  (click)="searchCustomername()">ค้นหา</button>
            </pre>


         

           <mat-form-field>
            
              <h4>เลือกยา</h4>
              <mat-select [(ngModel)]="categoryselect" name="Dran">
                <mat-option *ngFor="let titlecat of category" [value]="titlecat.categoryId">
                  {{titlecat.categoryname}}
                </mat-option>
              </mat-select>
            </mat-form-field>&nbsp;
               

            <br>
            <br> 

            <mat-form-field>
              <h4>ช่วงเวลาที่ทานยา</h4>
              <mat-select [(ngModel)]="categoryselect" name="Dran">
                <mat-option *ngFor="let titlecat of category" [value]="titlecat.categoryId">
                  {{titlecat.categoryname}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <h4>วันที่เริ่มทานยา</h4>
            <mat-form-field class="example-first-last ">
              <input matInput placeholder="วันที่เริ่มทานยา" type="password" [(ngModel)]="data.password" required name="Password"
                #Password>
            </mat-form-field>
        
            
            <pre align="center">
                <button mat-raised-button color="primary"  (click)="searchCustomername()">เพิ่มยา</button>
              </pre>
       
            
           
  </form>


        </div>

      